Repository Xia-Weiwen/pytorch, pull requests merged in 2023-02, with the labels that each got.

#19 Inductor quantization: prepack weight and bias for conv
  aten/src/ATen/native/quantized/cpu/qconv.cpp
  aten/src/ATen/native/quantized/cpu/qconv_prepack.cpp
  aten/src/ATen/native/quantized/library.cpp
  test/quantization/fx/test_quantize_pt2e.py
  torch/_inductor/compile_fx.py
  torch/_inductor/overrides.py
  torch/ao/quantization/fx/_decomposed.py
Labels: module: inductor, ciflow/inductor, release notes: quantization, module: cpu

#18 Inductor int8 pre quantize weight
  aten/src/ATen/native/quantized/cpu/qconv.cpp
  aten/src/ATen/native/quantized/cpu/qconv_prepack.cpp
  aten/src/ATen/native/quantized/library.cpp
  test/quantization/fx/test_quantize_pt2e.py
  torch/_inductor/compile_fx.py
  torch/_inductor/overrides.py
  torch/ao/quantization/fx/_decomposed.py
Labels: module: inductor, ciflow/inductor, release notes: quantization, module: cpu

#20 [Quant][Inductor] Support single conv and support linear
  test/quantization/fx/test_quantize_pt2e.py
  torch/_inductor/overrides.py
  torch/ao/quantization/_pt2e/utils.py
  torch/ao/quantization/backend_config/_inductor_pt2e.py
  torch/ao/quantization/fx/_decomposed.py
Labels: module: inductor, ciflow/inductor, release notes: quantization

#21 [Quant][Inductor] Prepack weight and bias for linear
  aten/src/ATen/native/quantized/cpu/qlinear.cpp
  aten/src/ATen/native/quantized/cpu/qlinear_prepack.cpp
  aten/src/ATen/native/quantized/library.cpp
  test/quantization/fx/test_quantize_pt2e.py
  torch/_inductor/overrides.py
  torch/ao/quantization/fx/_decomposed.py
Labels: module: inductor, ciflow/inductor, release notes: quantization, module: cpu

#23 Leslie/add dequant promotion pass
  torch/_inductor/overrides.py
  torch/ao/quantization/fx/_decomposed.py
Labels: module: inductor, ciflow/inductor, release notes: quantization

#24 [Quant][Inductor] Prepack weight for conv and linear after quantization fusion & issue fix
  aten/src/ATen/native/mkldnn/MKLDNNConversions.cpp
  torch/_inductor/compile_fx.py
  torch/_inductor/overrides.py
Labels: module: inductor, ciflow/inductor, module: cpu

#25 fix the op fusion issue to keep TensorMeta
  test/quantization/fx/test_quantize_pt2e.py
  torch/_inductor/overrides.py
Labels: module: inductor, ciflow/inductor, release notes: quantization

#26 Restore output type
  test/quantization/fx/test_quantize_pt2e.py
  torch/_inductor/compile_fx.py
Labels: module: inductor, ciflow/inductor, release notes: quantization
